
/* Variables */
$transition: all 500ms ease;
$blue: #CDD6DD;
$light-blue: #CCFBFE; 
$tan: #CDACA1;
$white-border: 1px white solid;
$grey-border: 1px #CDCACC solid;

/* General app styling */

html {
    line-height: 1.5;
    color: white;
    height: 100%;
}

*:focus {
    outline: none!important;
}

input::placeholder {
    color: white;
}

p {
    margin-bottom: 0px;
    padding: 0px;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

#app-container {
    background-size: cover;
    background-repeat: no-repeat;
    padding:0px;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Buttons */

.button {
    transition: $transition;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    border: $grey-border;
    padding: .25rem 1rem;

    &:hover {
        transition: $transition;
        background-color: $blue;
    }
}

#location-button {
    border: $white-border;

    &:hover {
        border-color: $light-blue;
        background-color: $light-blue;
        color: black;
    }
}

.list-button {
    border-radius: 50%;
    border: none;
    color: white;
    padding: .25rem .5rem;
}

#check-button {
    margin-right: .5rem;

    &:hover {
        background-color: rgba(204,251,254,.5);
    }
}

#delete-button {
    float: right;

    &:hover {
        background-color: #CD8987;
    }
}

/* Text input */

#location-input {
    border: $white-border;

    &:focus {
        border-color: $light-blue;
    }
}

.input {
    transition: border-color 250ms ease;
    background-color: transparent;
    border: $grey-border;
    border-radius: 1rem;
    padding: .25rem 1.5rem;
    color: white;
    margin-right: .25rem;
    &:focus {
        border-color: white;
    }
}


/* Weather */

#weather-row {
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(205,202,204,.75);
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px rgba(25,25,25,.25);
    padding: 1rem;
    color: white;
    flex: 1;
}

.icon-container {
    height: 3rem;
    width: 3rem;
    background-color: rgba(204,251,254,.5);
    border-radius: .5rem;
    margin: .5rem 0rem;
    align-self: center;
    justify-self: center;
}

.icon {
    height: auto;
    width: 100%;
}

.weather-day {
    border-right: $white-border; 
    display: flex;
    flex-direction: column;
    height: auto;
}

.weather-header-container, .weather-description-container {
    justify-self: flex-start
}

.weather-high-low-container {
    justify-self: flex-end;
}

#weather-day-0 {
    border-left: $white-border;
}

/* Todo */
#list-row {
    margin: 2rem 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 5;
}

#todo-container {
    height: 60vh;
    min-width: 15%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(25,25,25,.25);
    background-color: $tan;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

@media only screen and (max-width: 795px) {
    .weather-day {
        padding: 0;
        
        & h3 {
            font-size: 1.2rem;
        }
        
        & p {
            font-size: .75rem;
        }

    }
    
    #todo-container {
        width: 50%;
    }
    
}

@media only screen and (max-width: 650px) {
    #app-container {
        min-height: 100vh;
    }
    
    .weather-day h3 {
        font-size: 1rem;
    }

    #todo-container {
        width: 80%;
    }

    #item-input {
        padding: .25rem 1rem;
    }
}

@media only screen and (max-width: 550px) {
    #todo-container {
        width: 95%;
    }
}


#list-heading {
    color: $light-blue;
    font-size: 3rem;
    text-align: center;
}

#list {
    max-height: 40vh;
    overflow: auto;
    width: 100%;
}

.item {
    transition: $transition;
    padding: .75rem;
    border-bottom: $grey-border;
}

#add-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}













