*:focus {
    outline: none;
}

.container-fluid {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

p {
    margin-bottom: 0px;
    padding: 0px;
}

#checkBtn {
    border-radius: 50%;
    margin-bottom: 0px;  
    background-color: transparent;
    border: none;
    transition: background-color 250ms ease;
    color: white;
    outline: none;
    margin-right: 10px;
}

#checkBtn:hover {
    background-color: rgba(204,251,254,.5);
    transition: background-color 250ms ease;
    
}

.item {
    transition: background-color 250ms ease;
    border-radius: 5px;
}

#deleteBtn {
    float: right;
    border-radius: 50%;
    margin-bottom: 0px;  
    background-color: transparent;
    border: none;
    transition: background-color 250ms ease;
    color: white;
}

#deleteBtn:hover {
    background-color: #CD8987;
    transition: background-color 250ms ease;
}

.add-btn {
    border-color: #CDD6DD!important;
    transition: background-color 250ms ease!important;
}

.add-btn:hover {
    background-color: #CDD6DD;
    transition: background-color 250ms ease;
}

.main {
    min-height: 50vh;
    min-width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(25,25,25,.25);
    background-color: #CDACA1;
    padding: 15px;
    color: white;
}

.addItem {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.addItem input {
    transition: border-color 250ms ease;
    background-color: transparent;
    border: 1px #CDCACC solid;
    border-radius: 1em;
    padding: 5px 15px;
    color: white;
}

.addItem input:focus {
    transition: border-color 250ms ease;
    border-color: #CDD6DD;
}

.list {
    max-height: 40vh;
    overflow: auto;
    width: 100%;
    flex: 1;
}

.App {
    background-image: url('./images/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.weather {
    min-height: 20vh;
    min-width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(25,25,25,.25);
    background-color: #CDACA1;
    padding: 15px;
    color: white;
    margin-right: 25px;
}