body {
    font-family: 'Livvic', sans-serif;
}

.container-fluid {
    padding:0;
    height: 100vh;
}

p {
    margin-bottom: 0px;
    padding: 0px;
}

#deleteBtn {
    float: right;
    border-radius: 50%;
    margin-bottom: 0px;  
}

#deleteBtn:hover {
    color: black;
}

.navbar {
    background-image: url('./images/forest.jpg');
    color: white;
    height: 10vh;
}

.btn-submit {
    margin-left: 5px;
    background-color: #228b22;
    color: white;
}

.main {
    background-image: url('./images/dirt.png');
    height: 90vh;
}

.addItem {
    display: block;
}